name: "Release the Aragon Network DAO Charter"

on:
  workflow_dispatch:
  push:
    # Pattern matched against refs/tags
    tags:
      - "*" # Push events to every tag not containing /
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Tectonic Cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/Tectonic
          key: ${{ runner.os }}-tectonic-${{ hashFiles('**/*.tex') }}
          restore-keys: |
            ${{ runner.os }}-tectonic-

      - name: Tectonic Setup
        uses: wtfjoke/setup-tectonic@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Gitinfo
        run: ./gitinfo.sh

      - name: Tectonic Run
        run: |
          for f in $(find . -regex '\.\/[0-9A-Z]+-.+\.tex'); do 
            tectonic -r 1 $f 
          done 

      - name: Install ipfs-cluster-ctl and pin file on cluster
        id: ipfs
        env:
          IPFS_CLUSTER_BASIC_AUTH: ${{ secrets.IPFS_CLUSTER_BASIC_AUTH }}
          IPFS_CLUSTER_HOST: ${{ secrets.IPFS_CLUSTER_HOST }}
        run: |
          wget https://dist.ipfs.io/ipfs-cluster-ctl/v1.0.1/ipfs-cluster-ctl_v1.0.1_linux-amd64.tar.gz
          tar xvfz ipfs-cluster-ctl_v1.0.1_linux-amd64.tar.gz
          CID=$(ipfs-cluster-ctl/ipfs-cluster-ctl --basic-auth '${{ secrets.IPFS_CLUSTER_BASIC_AUTH }}' --host '${{ secrets.IPFS_CLUSTER_HOST }}' add --cid-version 1 --quiet network-dao-charter.pdf)
          echo "::set-output name=cid::$CID"

      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ github.ref }}
          name: ${{ github.ref }}
          body: "**IPFS CID:** [${{ steps.ipfs.outputs.cid }}](https://ipfs.io/ipfs/${{ steps.ipfs.outputs.cid }}?filename=Aragon_Network_DAO_Charter_${{ env.RELEASE_VERSION }}.pdf)"
          draft: false
          prerelease: false
          files: |
            network-dao-charter.pdf
            1-introduction.pdf
            2-aragon-network-dao-agreement.pdf
            3-aragon-manifesto.pdf
            4-community-guidelines.pdf
            5-aragon-governance-proposal-process.pdf
            6-sub-dao-agreements.pdf
            7-dao-parameters.pdf
            8-glossaries.pdf
            A-acronyms-and-definitions.pdf
